{% extends 'base.html' %}
{% load tags %}
{% block boby %}

    <div class="table-responsive">
    <table class="table table-striped table-condensed ">
        <thead>
        <tr>
            <th>操作日期</th>
            <th>客户</th>
            <th>数据中心</th>
            <th>所属机房</th>
            <th>机柜编号</th>
            <th>操作员工</th>
            <th>开关日期</th>
            <th>操作类型</th>
        </tr>
        </thead>
        <tbody>
        {% for logobj in page_list %}
            <tr>
                <td>{{ logobj.handle_date }}</td>
                <td>{{ logobj.customer }}</td>
                <td>{{ logobj.cabinet_dc }}</td>
                <td>{{ logobj.cabinet_idc }}</td>
                <td>{{ logobj.cabinet_number }}</td>
                <td>{{ logobj.handle_user.last_name }}{{ logobj.handle_user.first_name }}</td>
                <td>{{ logobj.date }}</td>
                {% if logobj.handle_type == 0 %}
                    <td><span class="label label-danger">关闭</span></td>
                {% else %}
                    <td><span class="label label-success">开通</span></td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    {#                客户机柜操作日志分页#}
    <div class="panel-footer" style="background-color: #ffffff">
        <div class="row">

            <div class="col-md-6">
                <form class="navbar-form navbar-left" method="get">
                    <div class="input-group">
                        <input type="text" name="cabinet_number" class="form-control" placeholder="搜索指定机柜号日志">
                        <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="搜索"></span>
                        {% customet_cabinet_log filter 'cabinet_number' %}
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <nav class="pull-right">
                    <ul class="pagination">
                        {% if page_list.paginator.num_pages > 1 %}
                            {% if page_list.has_previous %}
                                <li>
                                    <a href="?page={{ page_list.previous_page_number }}{% customet_cabinet_log filter 'page' %}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in page_list.paginator.pager_num_range %}
                                {% if i == page_list.number %}
                                    <li class="active"><a href="?page={{ i }}{% customet_cabinet_log filter 'page' %}">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}{% customet_cabinet_log filter 'page' %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_list.has_next %}
                                <li>
                                    <a href="?page={{ page_list.next_page_number }}{% customet_cabinet_log filter 'page' %}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a aria-label="Previous">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock boby %}