{% extends 'dc_info/index.html' %}
{% load static %}
{% block title %}个人主页{% endblock title %}
{% block style %}{% endblock style %}
{% block script %}{% endblock script %}
{% block aphorism %}{% endblock aphorism %}


{% block panel-body %}

    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-profile">
                <div class="clearfix">
                    <!-- LEFT COLUMN -->
                    <!-- PROFILE HEADER -->
                    <div class="profile-header">
                        <div class="overlay"></div>
                        <div class="profile-main">
                            <img src="{{ request.user.head_img.url }}" class="img-circle" alt="Avatar", style="width: 90px; height: 90px">
                            <h3 class="name">{{ request.user.name }}</h3>
                            <span class="online-status status-available">在线</span>
                        </div>
                    </div>
                    <!-- END PROFILE HEADER -->
                    <!-- PROFILE DETAIL -->
                    <div class="profile-detail">
                        <div class="profile-info">
                            <h4 class="heading">基本信息</h4>
                            <ul class="list-unstyled list-justify">
                                <li>姓名 <span>{{ request.user.name }}</span></li>
                                <li>生日 <span>{{ request.user.birthday }}</span></li>
                                <li>创建日期 <span>{{ request.user.create_date }}</span></li>
                                <li>Email <span>{{ request.user.email }}</span></li>
                            </ul>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">修改密码</button>
                        </div>
                        <p class="text-center">{{ erro }}</p>
                    </div>
                    <!-- END PROFILE DETAIL -->
                </div>

            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

{% endblock panel-body %}

{% block log %}
{% endblock log %}

{% block motai-title %}
    修改密码
{% endblock motai-title %}

{% block motai-body %}
    <form id="serpasswordforms" method="post">
        {% csrf_token %}
        {% for form in forms %}
            <div class="form-group">
                {{ form.label_tag }}
                {{ form }} <span style="color: red">{{ form.errors.0 }}</span>
            </div>
        {% endfor %}
    </form>
{% endblock motai-body %}

{% block motai-btn %}
    <button type="submit" class="btn btn-primary" form="serpasswordforms">保存</button>
{% endblock motai-btn %}

